<ion-header class="header">
  <div class="circle-btn">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
  <span class="title">Unidades Médicas</span>
  <div class="circle-btn">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="perfil-content">
  <div class="unidades-container">
    <h2 class="mapa-titulo">MAPA DE LOS LUGARES DONDE HAY UNIDADES DE IMSS</h2>
    <img src="https://th.bing.com/th/id/OIP.-lgCYItgdO21yEeoHNEHEgHaHa?rs=1&pid=ImgDetMain" alt="Mapa de Unidades" class="mapa-img" />

    <ion-card class="unidad-info-card">
      <ion-card-content>
        <p><strong>Tipo de unidad:</strong></p>
        <p><strong>Nombre:</strong></p>
        <p><strong>Dirección:</strong></p>
        <p><strong>Teléfono:</strong></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-icons">
      <ion-button fill="clear">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
