<ion-header class="header">
  <div class="circle-btn">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
  <span class="title">Recetas</span>
  <div class="circle-btn">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="perfil-content">
  <div class="recetas-container">
    <div class="bloque gris">
      <p class="bloque-titulo">OBSERVACIONES</p>
      <div class="bloque-area"></div>
    </div>

    <div class="bloque gris">
      <p class="bloque-titulo">MEDICAMENTO</p>
      <ion-button expand="block" class="btn-medicamento">
        Nombre del medicamento <ion-icon name="flask-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button expand="block" class="btn-medicamento">
        Nombre del medicamento <ion-icon name="flask-outline" slot="end"></ion-icon>
      </ion-button>
      <ion-button expand="block" class="btn-medicamento">
        Nombre del medicamento <ion-icon name="flask-outline" slot="end"></ion-icon>
      </ion-button>
    </div>

    <div class="bloque gris">
      <p class="bloque-titulo">RECOMENDACIONES</p>
      <div class="bloque-area"></div>
    </div>
  </div>
</ion-content>

<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-icons">
      <ion-button fill="clear">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>