<ion-header class="header">
  <div class="circle-btn">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
  <span class="title">Historial De Vacunación</span>
  <div class="circle-btn">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="perfil-content">
  <div class="historial-container">

    <ion-card class="vacuna-card">
      <ion-card-content>
        <div class="vacuna-header">
          <ion-avatar class="vacuna-avatar">
            <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/original/user-icon-vector.jpg" alt="Paciente">
          </ion-avatar>
          <div>
            <p><strong>Nombre del paciente</strong></p>
            <p>NSS</p>
            <p>+52 12345678</p>
          </div>
        </div>

        <div class="vacuna-datos">
          <p><strong>Fecha de aplicación:</strong> DD | MM | AAAA</p>
          <p><strong>Quien aplicó:</strong></p>
          <p><strong class="vacuna-nombre">VACUNA</strong> <ion-icon name="eye-outline"></ion-icon></p>
        </div>

        <div class="vacuna-observaciones">
          <p><strong>Observaciones:</strong></p>
          <p>*Aquí se pondrán las observaciones de la vacuna*</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="vacuna-card">
      <ion-card-content>
        <div class="vacuna-header">
          <ion-avatar class="vacuna-avatar">
            <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/original/user-icon-vector.jpg" alt="Paciente">
          </ion-avatar>
          <div>
            <p><strong>Nombre del paciente</strong></p>
            <p>NSS</p>
            <p>+52 12345678</p>
          </div>
        </div>

        <div class="vacuna-datos">
          <p><strong>Nombre de la vacuna:</strong> <span class="vacuna-nombre">VACUNA</span> <ion-icon name="eye-outline"></ion-icon></p>
          <p><strong>Fecha de aplicación:</strong> DD | MM | AAAA</p>
          <p><strong>Quien aplicó:</strong></p>
        </div>

        <div class="vacuna-observaciones">
          <p><strong>Observaciones:</strong></p>
          <p>*Aquí se pondrán las observaciones de la vacuna*</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

