<ion-header class="header">
  <div class="circle-btn">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
  <span class="title">Cartilla</span>
  <div class="circle-btn">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="perfil-content">
  <div class="cartilla-container">
    <ion-card class="cartilla-card">
      <ion-card-content>
        <p class="cartilla-label">Nombre del paciente</p>
        <p class="cartilla-label">Fecha</p>
        <img src="https://static.vecteezy.com/system/resources/previews/000/550/731/original/user-icon-vector.jpg" class="cartilla-img" />
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="danger" class="pdf-button">
      <ion-icon name="document-outline" slot="start"></ion-icon>
      PDF
    </ion-button>
  </div>
</ion-content>

