<ion-header class="header">
  <div class="circle-btn">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
  <span class="title">VACUNAS</span>
  <div class="circle-btn">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="perfil-content">
  <div class="vacunas-container">
    <p><strong>Nombre</strong></p>
    <ion-chip color="light">
      <ion-label>VACUNA</ion-label>
    </ion-chip>

    <p><strong>Descripción</strong></p>
    <div class="vacuna-descripcion"></div>
  </div>
</ion-content>

